@font-face {font-family: "iconfont";
    src: url('//at.alicdn.com/t/font_2468601_d2hwpxi625.eot?t=1617709382934'); /* IE9 */
    src: url('//at.alicdn.com/t/font_2468601_d2hwpxi625.eot?t=1617709382934#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAAUwAAsAAAAACgQAAATkAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCDXgqGXIVcATYCJAMcCxAABCAFhG0HVxurCCMRZoSvQPaPBfPkOxUZauoWqcEHJpVMkDPBA72b9SYzgWB26aoJsKImND3T9PxPnAYIIFC7tWnHNipCsSTnwXf5H/lnhwth9HydrlIVskL2j3tVMxYmYPPZt7jsNSiYC40WqEBjTFxWK2gLEi6QdhHP4kLlMTcehwDc5KU0onHT1p0xULDjBCBGDB3cFyPToTooAkPpaLhUIdagY2hLtRfAavv74icqCgM0dAk7tf2gJgOob6vsonJOeo4eGgV/fxZgdBVIoDSgQCxqtM0hfaw0Evfibyo6A34MNBy2ssN2QXu4PSm7aDpN3s7mBX4eAw39+v7xJA4QDojMi/Fd4g6wlUSggR1GoINdEIEAe7gUmHwSRiAhu6icu4p1Hu0HAiAkiAEIX9mioTBZQ355r0Hda3ozvN5gMKcv6i0+3LP8uEjOPeb2LjtCfM7RuLtLvP/wfVbTB6n8ezObPM7qnErBnI0eDxtjns2mgC4Lyxrdru6awLsuS+XvvOVokSbxjQc9+DGHzaTn8PHBWVlJy0qkUp0zM+OaV/kO04PLjmSorUc9oeXHc+nbjg04ZB3advxwLJ7cfHDrlgOp6Rthzp3KqWWJS/eEmLvZXB6LH1xeLLl5Y3Lj0Rgbjiw7Vrfh44P6HjyZsaVwnwvLivY7tCvX9mL9Ly+ffohX99hwIBrdEL1iJSyrlrn58MGjsZM7Ci/b4N5wMvOmaW5mDzIPXyyxcevSrlZkUji+JjwpMi+8yJ3+vWHN2fnTr+Ijdu9VTZvWLy9JSr5P+fpNm1xv39hsN675Zn2wo/kl15qf1rgu8Vb34Vsvhx6cklFPNW3SU9NEWVKFBm/W8nzdP/a1rTe8Td299f6qOCv/mDzda7f1J3xta+fpUa38LNIDrViwUBvANQsWKLE25MXyhQPGHObzpGxA2UR9WGAh3ZPqX/+WO3ZdLdavx+xt9cXq+ratiYsjT8/yfph1tjw3NOvDf2ftznen4tupYflZ0Zn5xlWxxSn5Zhb9zLGkjyrw7cjlVZer23c836Hsm5Cvjy+UO+Tv4w+V7NJtfzfvofnFza39zf9P7h/236F5xZP7As3IL+vfVP/+rW5zttbcVFHzr6Js8jY529fwW/07FqwwpUX1llVam/P1h39NPt9wZ/7JM+VA2bBmuUYFxjdkdxobKtF76PNhzAIgfV/7Q9a1tG/kFZnvYXfkClkfQN7Rfkf6J/lQmk3oO3LxBWwkVLLq8d6B2r8ZHgXAp+uqpsSXvqPYPm6gAZj/B+QDx9RSyPRONe8t6xCAk2ZJBhrg5jPwt3OF+Xx/ihi4EAQGsQgaTvKAxKAwWuFLg46HyuDAYEg9cCtFfrVHBLYl5gJK8kYgBPmAxu82SEG+aIX/ge4D/uAQFFtwSxS5pUdRUV4aMSpBC/oFpaHOCaNcXPEV/dgoToWW+kQeyiDEZcuXyRw75H2cMUw+EXHgmFrI0NOwaQh6pgqNBIVIn4blBjV9UmCoXV00wpAikAVoL0DJIB2nF4tL5eevkDdqKNzRdcH6hNig3DkQExAB0LmsA3U9l70HEy9BCEePchhpARm2oIbHCNA3H1RBhggotoj0UkIyzUFlwfEV7eu8DXBj7+lME1IooQuHcAoDedLb8bgc+k5KFO9GqrI5D7SjUfJ4qvZjCupwtQI=') format('woff2'),
    url('//at.alicdn.com/t/font_2468601_d2hwpxi625.woff?t=1617709382934') format('woff'),
    url('//at.alicdn.com/t/font_2468601_d2hwpxi625.ttf?t=1617709382934') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
    url('//at.alicdn.com/t/font_2468601_d2hwpxi625.svg?t=1617709382934#iconfont') format('svg'); /* iOS 4.1- */
  }
  
  .iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-job:before {
    content: "\e622";
  }
  
  .icon-sex:before {
    content: "\e604";
  }
  
  .icon-avatar:before {
    content: "\e676";
  }
  
  .icon-mail:before {
    content: "\e66b";
  }
  
  .icon-education:before {
    content: "\e612";
  }
  
  .icon-phone:before {
    content: "\e726";
  }
  