body {
    background-color: #dedede;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

ul, li, h1, h2, h3, h4, p {
    font-size: 16px;
    padding: 0;
    margin: 10px 0;
}

h1 {
    font-size: 30px;
    font-weight: 1000;
}

h2 {
    font-size: 20px;
}

a {
    text-decoration: none;
    color: #000;
    margin-right: 20px;
}

.skill-tag, a {
	color: #FF9933;
	cursor: pointer;

	&:hover {
		color: #409EFF;
	}
}

